$background-color: #ffc87c;

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  background-color: $background-color;
  display: table;
  z-index: 5;
}

.footer h5 {
  font-family: 'avaza';
  display: table-cell;
  vertical-align: middle;
}


.footer-right img {
  width: 40px;
  height: 40px;
}
