<mat-tab-group>
  <mat-tab label="მკითხველები">
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="studentsDataSource">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> სახელი </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName ? element.firstName : '' }} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> გვარი </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName ? element.lastName : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="personalNo">
        <th mat-header-cell *matHeaderCellDef> პირადი ნომერი </th>
        <td mat-cell *matCellDef="let element"> {{element.personalNo ? element.personalNo : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> მეილი </th>
        <td mat-cell *matCellDef="let element"> {{element.email.trim() ? element.email.trim() : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> ტელეფონის ნომერი </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNum ? element.phoneNum : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef> შექმნის თარიღი </th>
        <td mat-cell *matCellDef="let element"> {{element.createDate ? element.createDate : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <div class="d-flex ml-12 child-ml-12">
            <button  mat-mini-fab type="button" [matTooltip]="'დამატება'" (click)="addReader()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <button  mat-mini-fab class="my-fab" type="button" [matTooltip]="'წაშლა'" (click)="deleteReader(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="readersDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: readersDisplayedColumns;"></tr>
    </table>
    <mat-paginator #readersPagination="matPaginator" [length]="studentsDataSource.data.length" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="მომხმარებლები">
    <div class="add-button">
      <button class="add-btn" mat-fab aria-label="ახალი ადმინ მომხმარებლის შექმნა" (click)="createNewUser()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="usersDataSource">
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> სახელი </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName ? element.firstName : '' }} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> გვარი </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName ? element.lastName : ''}} </td>
        </ng-container>

        <ng-container matColumnDef="personalNo">
          <th mat-header-cell *matHeaderCellDef> პირადი ნომერი </th>
          <td mat-cell *matCellDef="let element"> {{element.personalNo ? element.personalNo : ''}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> მეილი </th>
          <td mat-cell *matCellDef="let element"> {{element.email.trim() ? element.email.trim() : ''}} </td>
        </ng-container>

        <ng-container matColumnDef="createDate">
          <th mat-header-cell *matHeaderCellDef> შექმნის თარიღი </th>
          <td mat-cell *matCellDef="let element"> {{element.createDate ? element.createDate : ''}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="usersDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: usersDisplayedColumns;"></tr>
      </table>
      <mat-paginator #usersPagination="matPaginator" [length]="usersDataSource.data.length" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="პარამეტრები">
    <div>
      <mat-expansion-panel [expanded]="genresOpenState" (click)="genresOpenState = !genresOpenState" >
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            საგნობრივი რუბრიკის დამატება / რედაქტირება
            <button mat-mini-fab [class.small-add]="true" class="my-fab" (click)="addRubric()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="rubricsDataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> აიდი </th>
              <td mat-cell *matCellDef="let element"> {{element.id ? element.id : '' }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> დასახელება </th>
              <td mat-cell *matCellDef="let element"> {{element.name ? element.name : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> რედაქტირება </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="editRubric(element)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> წაშლა </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="deleteRubric(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="rubricDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: rubricDisplayedColumns;"></tr>
          </table>

          <mat-paginator #rubricsPagination="matPaginator" [length]="rubricsDataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel [expanded]="collectionOpenState" (opened)="collectionOpenState = true"
       (closed)="collectionOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            ფონდი / კოლექციის დამატება / რედაქტირება
            <button mat-mini-fab [class.small-add]="true" class="my-fab" (click)="addCollection()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="collectionsDataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> აიდი </th>
              <td mat-cell *matCellDef="let element"> {{element.id ? element.id : '' }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> დასახელება </th>
              <td mat-cell *matCellDef="let element"> {{element.name ? element.name : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> რედაქტირება </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="editCollection(element)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> წაშლა </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="deleteCollection(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="rubricDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: rubricDisplayedColumns;"></tr>
          </table>

          <mat-paginator #collectionPagination="matPaginator" [length]="collectionsDataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel [expanded]="formOpenState" (click)="formOpenState = !formOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            მასალის სახის დამატება / რედაქტირება
            <button mat-mini-fab [class.small-add]="true" class="my-fab" (click)="addForm()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="formsDataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> აიდი </th>
              <td mat-cell *matCellDef="let element"> {{element.id ? element.id : '' }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> დასახელება </th>
              <td mat-cell *matCellDef="let element"> {{element.name ? element.name : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> რედაქტირება </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="editForm(element)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> წაშლა </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="deleteForm(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="rubricDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: rubricDisplayedColumns;"></tr>
          </table>

          <mat-paginator #formsPagination="matPaginator" [length]="formsDataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel [expanded]="typeOpenState" (click)="typeOpenState = !typeOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            მასალის ტიპის დამატება / რედაქტირება
            <button mat-mini-fab [class.small-add]="true" class="my-fab" (click)="addType()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="typesDataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> აიდი </th>
              <td mat-cell *matCellDef="let element"> {{element.id ? element.id : '' }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> დასახელება </th>
              <td mat-cell *matCellDef="let element"> {{element.name ? element.name : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> რედაქტირება </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="editType(element)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> წაშლა </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="deleteType(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="rubricDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: rubricDisplayedColumns;"></tr>
          </table>

          <mat-paginator #typesPagination="matPaginator" [length]="typesDataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel [expanded]="languageOpenState" (click)="languageOpenState = !languageOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            მასალის ენის დამატება / რედაქტირება
            <button mat-mini-fab class="my-fab" [class.small-add]="true" (click)="addLanguage()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="languagesDataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> აიდი </th>
              <td mat-cell *matCellDef="let element"> {{element.id ? element.id : '' }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> დასახელება </th>
              <td mat-cell *matCellDef="let element"> {{element.name ? element.name : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> რედაქტირება </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="editLanguage(element)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> წაშლა </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="deleteLanguage(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="rubricDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: rubricDisplayedColumns;"></tr>
          </table>

          <mat-paginator #languagesPagination="matPaginator" [length]="languagesDataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel [expanded]="publisherOpenState" (click)="publisherOpenState = !publisherOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            გამომცემლის დამატება / რედაქტირება
            <button mat-mini-fab class="my-fab" [class.small-add]="true" (click)="addPublisher()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="publishersDataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> აიდი </th>
              <td mat-cell *matCellDef="let element"> {{element.id ? element.id : '' }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> დასახელება </th>
              <td mat-cell *matCellDef="let element"> {{element.name ? element.name : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> რედაქტირება </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="editPublisher(element)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> წაშლა </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab class="my-fab" (click)="deletePublisher(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="rubricDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: rubricDisplayedColumns;"></tr>
          </table>

          <mat-paginator #publishersPagination="matPaginator" [length]="publishersDataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
    </div>
  </mat-tab>
</mat-tab-group>
