$background-color: #ffc87c;


img {
    width: 50px;
    height: 50px;
}

.header {
    background-color: $background-color;
    overflow: hidden;
    padding: 20px 10px;
    margin: 0 auto;
    display: block;
}

a {
  font-family: 'avaza';
}

.header h1 {
    font-family: 'avaza';
    padding-top: 20px;
    padding-left: 20px;
    position: absolute;
    font-size: 25px;
    display: inline;
}

.header-right {
    float: right;
    padding-right: 5%;
    font-size: 15px;
    display: inline;
    padding-top: 25px;
    color: black;
}

.btn {
    margin: 10px;
}


mat-icon {
  color: #030303;
}

.mat-flat-button .mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: #ffc87c;
}


::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #ffc87c;
  color: black;
}


.small-fab {
  margin: 0 auto;
  transition: none !important;
  box-shadow: none !important;
  width: 25px;
  height: 25px;
  line-height: 25px;

  &::ng-deep .mat-button-wrapper{
    line-height: 25px;
    padding: 0;
  }
  .mat-icon {
    font-size: 16px;
    line-height: 25px;
  }
}

.navigation {
  border-radius: 8px;
  padding: 15px;
  color: black;
  text-decoration: none;
}

.navigation:hover {
  background-color: #ffc40c;
}

.active {
  background-color: #ffc40c;
}


@media only screen and (max-width: 600px) {
  img {
    width: 25px;
    height: 25px;
  }
  .header h1 {
    font-size: 15px;
  }

  .header-right {
    font-size: 10px;
  }

  .header {
    padding: 5px 5px;
  }
}
