<header class="header">
    <a *ngIf="user$ | async" href="/usermainpage" class="logo"><img src="../../../assets/images/freeuni-transparent.png"></a>
    <a *ngIf="admin$ | async" href="/adminmainpage" class="logo"><img src="../../../assets/images/freeuni-transparent.png"></a>
    <a *ngIf="!isAdminOrUser()" href="/login" class="logo"> <img src="../../../assets/images/freeuni-transparent.png"> </a>
    <h1>
      Tavisufali universiteti
    </h1>
    <div class="header-right">
      <a *ngIf="admin$ | async" class="navigation" [ngClass]="{'active': isActive('/booking')}" href="/booking">gacema</a>
      <a *ngIf="user$ | async" class="navigation" [ngClass]="{'active': isActive('/usermainpage')}" href="/usermainpage">wignebi</a>
      <a *ngIf="admin$ | async" class="navigation" [ngClass]="{'active': isActive('/adminmainpage')}" href="/adminmainpage">wignebi</a>
      <a *ngIf="user$ | async" class="navigation" [ngClass]="{'active': isActive('/userpage')}" href="/userpage">Cemi gverdi</a>
      <a *ngIf="admin$ | async" class="navigation" [ngClass]="{'active': isActive('/adminpage')}" href="/adminpage">adminis gverdi</a>
      <button *ngIf="(admin$ | async) || (user$ | async)"  mat-mini-fab class="my-fab searchButton" type="button" [matTooltip]="'გასვლა'" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>


</header>
