<div class="login">
  <form [formGroup]="loginForm" class="col-8 col-md-4">
    <div class="form-group">
      <mat-form-field style="width: 100%">
        <mat-label>სტუდენტის მეილი</mat-label>
        <input type='email' matInput formControlName='username'>
      </mat-form-field>
      <div *ngIf='username.invalid && (username.dirty || username.touched)'
           class="alert alert-danger" style="font-size: 0.8rem;">
        <p> მეილი სავალდებულოა</p>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field style="width: 100%">
        <mat-label>პაროლი</mat-label>
        <input type='password' matInput formControlName='password'>
      </mat-form-field>
      <div *ngIf='password.invalid && (password.dirty || password.touched)'
           class="alert alert-danger" style="font-size: 0.8rem;">
        <p> პაროლი სავალდებულოა</p>
      </div>
    </div>

    <mat-card-actions>
      <div>
        <button (click)="loginAsAdmin()" mat-raised-button>Login</button>
        <button (click)="loginWithGoogle()" mat-raised-button class="google-login-btn googleBtn">Google</button>
      </div>
    </mat-card-actions>
  </form>
</div>

