.mat-flat-button .mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  color: black;
  background-color: #ffc87c;
}

.actions {
  float: right;
}

button {
  margin-right: 10px;
}
