.bordered {
  border: 3px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 10px !important;
}

.action {
  padding: 10px;
  margin: 0 auto;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  background-color: #ffc87c;
}

