<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{data?.coverImage? data.coverImage : 'assets/images/noImage.png'}}">
    </div>
    <div class="col">
      <h1 class="commentsLabel">detalebi:</h1>
      <h1>{{data?.title}}</h1>
      <h2>ავტორი: {{data?.author}}</h2>
      <h3>ქვესათაური: {{data?.subtitle ? data?.subtitle : '[არ არის მითითებული]'}}</h3>
      <h3>რუბრიკა: {{data?.rubric?.name}}</h3>
      <h3>გამომცემლობა: {{data?.publisher?.name}}</h3>
      <h3>ენა: {{data?.language?.name}}</h3>
      <h3>გამოცემის წელი: {{data?.publishDate?.toString().split('-')[0]}}</h3>
      <h3>ელ. ვერსია:
          <button [disabled]="data?.file === null || data?.file === undefined" type="button" class="cancelBtn" mat-raised-button (click)="onClickDownloadPdf()">გადმოწერა
          <mat-icon>download</mat-icon>
          </button>
      </h3>
      <button type="button" class="detailsBtns" mat-raised-button [disabled]="data?.bookCopies.length === 0" (click)="booking()">დაჯავშნა</button>
      <button type="button" class="detailsBtns" mat-raised-button (click)="addToFavourites()">ფავორიტებში დამატება</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <h4 class="commentsLabel">komentarebi:</h4>
  <div class="row" *ngFor="let element of comments">
    <div class="col-8">
      <mat-card>
        <mat-card-subtitle>{{element.userInfo?.fullName}}</mat-card-subtitle>
        <mat-card-content>
          {{element.comment}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-8">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
  <div class="row">
    <div class="col-8">
      <form [formGroup]="commentsForm">
        <mat-form-field appearance="outline" style="width: 100%; padding-bottom: 5px">
          <mat-label>დატოვეთ კომენტარი</mat-label>
          <textarea matInput formControlName="newComment"></textarea>
        </mat-form-field>
        <button type="button" class="detailsBtns rigth" mat-raised-button (click)="addComment()">დამატება</button>
      </form>
    </div>
  </div>
</div>
