img {
  max-height: 400px;
  max-width: 100%;
}

//h1 {
//  font-family: 'avaza';
//}

.title {
  font-size: 30px;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  background-color: #ffc87c;
}

.detailsBtns {
  margin-right: 10px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.rigth {
  float: right;
  margin-bottom: 5px;
}

::ng-deep mat-card {
  margin-bottom: 10px;
}

.commentsLabel {
  font-family: 'avaza';
  margin-bottom: 10px;
}
