@import "../../../assets/styles/functions";


label {
  font-family: 'avaza';
  font-size: 22px;
}

.label {
  font-family: 'avaza';
}

img {
  width: pxToRem(100);
  height: pxToRem(100);
  border-radius: pxToRem(100);
  margin-top: pxToRem(15);
}

mat-card {
  width: pxToRem(300);
}

@media (min-width: 768px) {
  .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: white; }
.text-cyan { color: #35bdff; }


@media (max-width: 900px) {
  mat-card {
    width: pxToRem(250);
  }

  mat-card-title {
    font-size: 16px;
  }

  h3 {
    font-size: 12px;
  }

}

.my-fab {
  margin: 0 auto;
  transition: none !important;
  box-shadow: none !important;
  width: 25px;
  height: 25px;
  line-height: 25px;

  &::ng-deep .mat-button-wrapper{
    line-height: 25px;
    padding: 0;
  }
  .mat-icon {
    font-size: 16px;
    line-height: 25px;
  }
}

.mat-flat-button .mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  color: black;
  background-color: #ffc87c;
}

.edit-button {
  background-color: #ffc87c;
}
