<mat-tab-group>
  <mat-tab label="რეზერვაციები">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="reservationsDataSource">
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef> ავტორი </th>
          <td mat-cell *matCellDef="let element"> {{element.bookinfo ? element.bookinfo.author : '' }} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> სათაური </th>
          <td mat-cell *matCellDef="let element"> {{element.bookinfo ? element.bookinfo.title : '' }} </td>
        </ng-container>

        <ng-container matColumnDef="bookCopyCode">
          <th mat-header-cell *matHeaderCellDef> ეგზემპლარის N </th>
          <td mat-cell *matCellDef="let element"> {{element.bookCopy ? element.bookCopy.code : '' }} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef> დაწყების თარიღი </th>
          <td mat-cell *matCellDef="let element"> {{element.startDate ? element.startDate : '' }} </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef> დასრულების თარიღი </th>
          <td mat-cell *matCellDef="let element"> {{element.endDate ? element.endDate : '' }} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> სტატუსი </th>
          <td mat-cell *matCellDef="let element"> {{element.status ? element.status : '' }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab class="small-fab" (click)="viewDetails(element)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button *ngIf="element.status === 'PENDING'" mat-button> დადასტურება </button>
            <button *ngIf="element.status === 'LENT'" mat-button> დაბრუნება </button>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="reservationsDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: reservationsDisplayColumns;"></tr>
      </table>
      <mat-paginator #reservationsPagination="matPaginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="წიგნების გაცემა">
    <div class="container">
      <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="readerFormGroup" [editable]="false">
          <form [formGroup]="readerFormGroup">
            <ng-template matStepLabel>მკითხველი</ng-template>
            <mat-form-field style="width: 40%" appearance="outline">
              <mat-label>პირადი ნომრით ძებნა</mat-label>
              <input matInput placeholder="მკითხველის პირადი ნომერი" formControlName="readerPersonalNum" required>
              <mat-error *ngIf='readerPersonalNum.invalid && (readerPersonalNum.dirty || readerPersonalNum.touched)'>
                მხოლოდ ციფრები, 11 სიგრძის
              </mat-error>
            </mat-form-field>
            <button  mat-mini-fab class="my-fab searchButton" type="button" [matTooltip]="'ძენნა'" (click)="findReaderByPersonalNum()">
              <mat-icon>search</mat-icon>
            </button>
            <br>
            <mat-form-field style="width: 40%" appearance="outline">
              <mat-label>მკითხველი</mat-label>
              <input matInput placeholder="მკითხველი" formControlName="reader" [readonly]="true">
            </mat-form-field>
            <div>
              <button class="nextBtn" [disabled]="readerFormGroup.invalid" mat-button matStepperNext>შემდეგი</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="reservedBooksForm" [editable]="true">
          <form [formGroup]="reservedBooksForm">
            <ng-template matStepLabel>აირჩიეთ წიგნები</ng-template>
            <mat-form-field style="width: 70%" appearance="outline">
              <mat-label>წიგნის ძებნა</mat-label>
              <input matInput placeholder="შეიყვანეთ საძიებო პარამეტრი" formControlName="bookSearchField">
            </mat-form-field>
            <button  mat-mini-fab class="my-fab searchButton" type="button" [matTooltip]="'ძენნა'" (click)="findBooksWithSearchParam()">
              <mat-icon>search</mat-icon>
            </button>
            <div class="row">
              <div class="col">
                <h3>gafiltruli wignebi</h3>
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="booksDatasource">

                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef> დასახელება </th>
                      <td mat-cell class="row-height"  *matCellDef="let element"> {{element.title ? element.title : ''}} </td>
                    </ng-container>

                    <ng-container matColumnDef="author">
                      <th mat-header-cell *matHeaderCellDef> ავტორი </th>
                      <td mat-cell class="row-height" *matCellDef="let element"> {{element.author ? element.author : ''}} </td>
                    </ng-container>

                    <ng-container matColumnDef="bookCopies">
                      <th mat-header-cell *matHeaderCellDef> ეგზემპ. </th>
                      <td mat-cell class="row-height" *matCellDef="let element"> {{element.bookCopies ? element.bookCopies.length : ''}} </td>
                    </ng-container>

                    <ng-container matColumnDef="rubric">
                      <th mat-header-cell *matHeaderCellDef> რუბრიკა </th>
                      <td mat-cell class="row-height" *matCellDef="let element"> {{element.subject ? element.subject.name : ''}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef> </th>

                      <td mat-cell class="row-height" *matCellDef="let element">
                        <div class="d-flex ml-12 child-ml-12">
                          <button  mat-mini-fab class="my-fab small-fab" type="button" [matTooltip]="'ნახვა'" (click)="viewBook(element)">
                            <mat-icon>visibility</mat-icon>
                          </button>
                          <button  mat-mini-fab class="my-fab small-fab" type="button" [matTooltip]="'დამატება'" [disabled]="element.bookCopies.length == 0" (click)="addBookInReservedList(element)">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                      </td>

                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                  </table>
                  <mat-paginator #booksPagination="matPaginator" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                </div>
              </div>
              <div class="col">
                <h3>arCeuli wignebi</h3>
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="savedBooks">

                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef> დასახელება </th>
                      <td mat-cell class="row-height"  *matCellDef="let element"> {{element.title ? element.title : ''}} </td>
                    </ng-container>

                    <ng-container matColumnDef="author">
                      <th mat-header-cell *matHeaderCellDef> ავტორი </th>
                      <td mat-cell class="row-height" *matCellDef="let element"> {{element.author ? element.author : ''}} </td>
                    </ng-container>

                    <ng-container matColumnDef="bookCopies">
                      <th mat-header-cell *matHeaderCellDef> ეგზემპ. </th>
                      <td mat-cell class="row-height" *matCellDef="let element"> {{element.bookCopies ? element.bookCopies.length : ''}} </td>
                    </ng-container>

                    <ng-container matColumnDef="rubric">
                      <th mat-header-cell *matHeaderCellDef> რუბრიკა </th>
                      <td mat-cell class="row-height" *matCellDef="let element"> {{element.subject ? element.subject.name : ''}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef> </th>

                      <td mat-cell class="row-height" *matCellDef="let element">
                        <div class="d-flex ml-12 child-ml-12">
                          <button  mat-mini-fab class="my-fab small-fab" type="button" [matTooltip]="'ნახვა'" (click)="viewBook(element)">
                            <mat-icon>visibility</mat-icon>
                          </button>
                          <button  mat-mini-fab class="my-fab small-fab" type="button" [matTooltip]="'წაშლა'" (click)="removeElementFromReservedList(element)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </td>

                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                  </table>
                  <mat-paginator #savedBooksPagination="matPaginator" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                </div>
              </div>

            </div>
            <div>
              <button class="nextBtn" [disabled]="savedBooksArr.length == 0" mat-button matStepperNext (click)="createFromArray()">შემდეგი</button>
            </div>
          </form>
        </mat-step>
        <mat-step [editable]="false">
          <h1 *ngIf="savedBooksArr.length == 0">
            dasajavSni wignebi ar aris
          </h1>
          <form *ngFor="let form of booksInfoForm.controls; index as i" [formGroup]="form">
            <div class="row">
              <div class="col">
                <mat-form-field style="width: 100%" appearance="outline">
                  <mat-label>სათაური</mat-label>
                  <input matInput formControlName="bookTitle" [readonly]="true">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field style="width: 100%" appearance="outline">
                  <mat-label>ავტორი</mat-label>
                  <input matInput formControlName="bookAuthor" [readonly]="true">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field style="width: 100%;" appearance="outline" >
                  <mat-label>ეგზემპლარები</mat-label>
                  <mat-select formControlName="bookCopy" (selectionChange)="disableDates(i)">
                    <mat-option *ngFor="let copy of savedBooksArr[i].bookCopies" [value]="copy" >
                      {{copy.code}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="outline" >
                  <mat-label>აირჩიეთ თარიღები</mat-label>
                  <mat-date-range-input [min]="minDate" [max]="maxDate"  [rangePicker]="picker" [dateFilter]="dateFilter">
                    <input  matStartDate placeholder="დასაწყისი" formControlName="startDate">
                    <input matEndDate placeholder="დასასრული" formControlName="endDate">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>
              <button  mat-mini-fab class="my-fab searchButton" type="button" [matTooltip]="'წაშლა'" (click)="deleteBook(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </form>
          <div>
            <button class="nextBtn" [disabled]="booksInfoForm.invalid || booksInfoForm.controls.length == 0" mat-button matStepperNext (click)="finalStep()">დასრულება</button>
            <button class="nextBtn" mat-button matStepperPrevious>უკან</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-tab>
</mat-tab-group>

