.google-login-btn {
  background-image: url('../../../assets/google-logo.png');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 10%;
  padding-left: 10%;
}

.login {
  font-family: 'avaza';
  justify-content: center;
  display: flex;
  margin: auto;
  padding: 20px 10px
}
mat-radio-button {
  margin: 10px;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #ffc87c;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #ffc87c;
}

.googleBtn {
  left: 20px;
}

.form {
  width: 100% !important;
}
