<div class="login">
  <form [formGroup]="loginForm" class="col-8 col-md-4">
    <div class="form-group">
      <mat-form-field style="width: 100%" >
        <mat-label>მეილი</mat-label>
        <input type='email' matInput formControlName='mail'>
      </mat-form-field>
      <div *ngIf='mail.invalid && (mail.dirty || mail.touched)'
           class="alert alert-danger" style="font-size: 0.8rem;">
        <p> მეილი სავალდებულოა</p>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field style="width: 100%">
        <mat-label>პაროლი</mat-label>
        <input type='password' matInput formControlName='password'>
      </mat-form-field>
      <div *ngIf='password.invalid && (password.dirty || password.touched)'
           class="alert alert-danger" style="font-size: 0.8rem;">
        <p> პაროლი სავალდებულოა</p>
      </div>
    </div>
    <mat-radio-group formControlName="role">
      <mat-radio-button value="admin">ადმინი</mat-radio-button>
      <mat-radio-button value="user">მომხმარებელი</mat-radio-button>
    </mat-radio-group>
    <mat-card-actions>
      <div>
        <button (click)="loginAsAdmin()" [disabled]="role.value === 'user'" mat-raised-button>შესვლა</button>
        <button (click)="loginWithGoogle()" [disabled]="role.value === 'admin'" mat-raised-button class="google-login-btn googleBtn">Google</button>
      </div>
    </mat-card-actions>
  </form>
</div>

