<form [formGroup]="bookFilterForm">
  <div class="bordered">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>საგნობრივი რუბრიკა</mat-label>
        <mat-select formControlName="rubricId">
          <mat-option></mat-option>
          <mat-option *ngFor="let rubric of rubrics" [value]="rubric.id">
            {{rubric.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field style="width: 100%;" appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>წიგნის ID</mat-label>
        <input type='text' matInput formControlName='id'>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>სათაური</mat-label>
        <input type='text' matInput formControlName='title'>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>ავტორი</mat-label>
        <input type='text' matInput formControlName='author'>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>ენა</mat-label>
        <mat-select formControlName="rubricId">
          <mat-option></mat-option>
          <mat-option *ngFor="let language of languages" [value]="language.id">
            {{language.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline"  style="padding-bottom: 2px!important;">
        <mat-label>მასალის ტიპი</mat-label>
        <mat-select formControlName="typeId">
          <mat-option></mat-option>
          <mat-option *ngFor="let type of types" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>კოლექცია</mat-label>
        <mat-select formControlName="collectionId">
          <mat-option></mat-option>
          <mat-option *ngFor="let collection of collections" [value]="collection.id">
            {{collection.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>ეგზემპლარის კოდი</mat-label>
        <input type='text' matInput formControlName='bookCopyCode'>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>გამომცემლობა</mat-label>
        <mat-select formControlName="bookStatus">
          <mat-option></mat-option>
          <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
            {{publisher.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>გამოცემა</mat-label>
        <input type='text' matInput formControlName='edition'>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>UDC</mat-label>
        <input type='text' matInput formControlName='UDC'>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>ISBN</mat-label>
        <input type='text' matInput formControlName='ISBN'>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>დამატების თარიღი (დან)</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="fromCreateDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="padding-bottom: 2px!important;">
        <mat-label>გამოცემის თარიღი (დან)</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="publishDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col vertically-centered">
      <section style="padding-bottom: 2px!important;">
        <mat-checkbox color="accent" formControlName="booked">აქტიური ჯავშანი</mat-checkbox>
      </section>
    </div>
    <div class="col vertically-centered">
      <button type="button"  color="accent" class="cancelBtn searchBtn" mat-raised-button (click)="filterBooks()">ძებნა</button>
    </div>
  </div>
  </div>
</form>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="booksDatasource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell class="row-height" *matCellDef="let element"> {{element.id ? element.id : '' }} </td>
    </ng-container>

    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef> მდებარეობა </th>
      <td mat-cell class="row-height"  *matCellDef="let element"> {{element.id ? element.place : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> დასახელება </th>
      <td mat-cell class="row-height"  *matCellDef="let element"> {{element.title ? element.title : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> ავტორი </th>
      <td mat-cell class="row-height" *matCellDef="let element"> {{element.author ? element.author : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="book_copy">
      <th mat-header-cell *matHeaderCellDef> ეგზემპლარი </th>
      <td mat-cell class="row-height" *matCellDef="let element"> {{element.bookCopies ? element.bookCopies.length : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell class="row-height" *matCellDef="let element"> {{element.isbn ? element.isbn : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="publish_year">
      <th mat-header-cell *matHeaderCellDef> წელი </th>
      <td mat-cell class="row-height" *matCellDef="let element"> {{element.publishDate ? element.publishDate.split('-')[0] : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="publisher">
      <th mat-header-cell *matHeaderCellDef> გამომცემლობა </th>
      <td mat-cell class="row-height" *matCellDef="let element"> {{element.publisher ? element.publisher.name : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="rubric">
      <th mat-header-cell *matHeaderCellDef> რუბრიკა </th>
      <td mat-cell class="row-height" *matCellDef="let element"> {{element.subject ? element.subject.name : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> ენა </th>
      <td mat-cell class="row-height" *matCellDef="let element"> {{element.language ? element.language.name : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef>
        <div class="d-flex ml-12 child-ml-12">
          <button  mat-mini-fab type="button" [matTooltip]="'დამატება'" (click)="createBook()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </th>

      <td mat-cell class="row-height" *matCellDef="let element">
        <div class="d-flex ml-12 child-ml-12">
          <button  mat-mini-fab class="my-fab" type="button" [matTooltip]="'ნახვა'" (click)="viewBook(element)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button  mat-mini-fab class="my-fab" type="button" [matTooltip]="'რედაქტირება'" (click)="editBook(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button  mat-mini-fab class="my-fab" type="button" [matTooltip]="'წაშლა'" (click)="deleteBook(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>
