//div {
//  margin: 20px;
//}

table {
  width: 100%;
}

.bordered {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 7px !important;
  border-radius: 5px;
}




mat-icon {
  color: #030303;
}

.mat-flat-button .mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: #ffc87c;
}

.my-fab {
  margin: 0 auto;
  transition: none !important;
  box-shadow: none !important;
  width: 25px;
  height: 25px;
  line-height: 25px;

  &::ng-deep .mat-button-wrapper{
    line-height: 25px;
    padding: 0;
  }
  .mat-icon {
    font-size: 16px;
    line-height: 25px;
  }
}

tr {
  height: 20px;
}

//.row-height {
//  height: 20px !important;
//}

//::ng-deep .mat-form-field-wrapper {
//  padding-bottom: 0px !important;
//}

.vertically-centered {
  display: flex;
  align-items: center;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  color: black;
  background: #ffc87c !important;
}

::ng-deep .mat-button-wrapper {
  color: black;
}

.searchBtn {
  float: right;
  margin-left: 8px;
}

:host ::ng-deep.mat-paginator .mat-form-field-underline {
  display: none;
}

table {
  border-collapse: separate;
}

th.mat-header-cell {
  text-align: left;
  padding-left: 3px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

td.mat-cell {
  /* row border */
  text-align: left;
  padding-left: 3px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}



tr.mat-row {
  /* row border */
  border: 1px solid #ffa600;
}

.headerBtns {
  margin-right: 5px;
}
