@import "../../../../assets/styles/functions";

mat-form-field {
  width: 100%;
}

h3 {
  display: flex;
  justify-content: center;
}

.alert {
  height: pxToRem(40);
}

button {
  margin: pxToRem(5);
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.save-button {
  background-color: #ffc87c;
}
