/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "assets/styles/toastr.css";
@import "./assets/styles/functions.scss";

@font-face {
  font-family: avaza;
  src: url('assets/fonts/avaza_mtavruli.ttf') format("opentype");
}

@font-face {
  font-family: avaza_ge;
  src: url('assets/fonts/avaza_mtavruli_sp.ttf') format("opentype");
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
