.bordered {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 7px !important;
  border-radius: 5px;
}

.cancelBtn {
  margin-right: 5px;
}

button {
  margin-bottom: 7px;
}

.save-button {
  background-color: #ffc87c;
}
